* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000000;
}

/* 
COLORS PROJECT:
Black: #000000
Dark Blue: #14213D
Orange: #FCA311
Gray: #E5E5E5
White: #FFFFFF
*/

.header {
  background-color: #14213d;
  color: #FCA311;
  display: flex;
  justify-content: space-evenly;
  position: fixed;
  width: 100%;
}

.box-language {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.name {
  align-items: center;
  display: flex;
  font-family: sans-serif;
  font-size: 35px;
  font-weight: 800;
  margin-top: 5px;
  text-decoration: none;
  color: #FCA311;
}

.name:hover {
  color: #E5E5E5;
}

.box-menu {
  align-items: center;
  display: flex;
  justify-content: space-between;

}

.menu {
  background-color: #E5E5E5;
  border: 2px solid #FCA311;
  border-radius: 20px;
  color: #14213d;
  font-family: sans-serif;
  font-size: 16px;
  margin: 3px;
  padding: 3px;
  text-decoration: none;
}

.menu:hover {
  background-color: #FCA311;
  border: 2px solid #E5E5E5;
}

.flag {
  border-radius: 15px;
  height: 25px;
  padding: 3px;
  width: 40px;
}

#sectionWelcome {
  display: flex;
  justify-content: space-around;
}

#mainWelcome {
  margin-top: 170px;
}

#welcome {
  font-size: 4em;
  color: #E5E5E5;
  font-family: 'Sacramento', cursive;
  margin-bottom: -0.3em;
}

#nameWelcome {
  font-size: 5em;
  color: #FCA311;
}

#profession {
  font-size: 1.27em;
  font-family: sans-serif;
  color: #14213d;
  background-color:#ffffff;
  text-align: center;
}

#profile {
  border-radius: 50%;
  margin-top: 100px;
  width: 20em;
}

#about {
  margin-top: 160px;
}

.lineSpan {
  visibility:hidden;
}

.topicsStyle {
  color: #E5E5E5;
  text-align: center;
  margin-top: 30px;
  font-family: sans-serif;
  background-color: #FCA311;
  color: #14213d;
}

#descriptionAbout {
  font-family: sans-serif;
  font-weight: 100;
  color: #ffffff;
  font-size: 2em;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 70px;
  margin-bottom: 55px;
  line-height: 37px;
  text-align: justify;
}

.titleSkills {
  color:#E5E5E5;
  font-family: 'Sacramento', cursive;
  text-align: center;
  font-size: 40px;
}

#hard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: -10px;
}

#soft {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-bottom: 5px;
  justify-content: center;
  padding: 30px;
}

.tec {
  text-align: center;
  font-size: 1.5em;
  padding: 5px;
  margin: 2px;
  color: #E5E5E5;
  background-color:#14213d;
  border-radius: 20px;
  font-family: sans-serif;
  text-decoration: none;
  cursor: pointer;
}

.tec:hover {
  background-color: #E5E5E5;
  color: #14213d;
}

.imgTec {
  width: 100px;
  padding: 3px;
}

.nameTec {
  font-size: 20px;
}

#myNet {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 40px;
}

footer h5 {
  text-align: center;
  background-color: #14213d;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 18px;
  font-weight: 900;
  margin-bottom: 0;
  color: #E5E5E5;
  font-family: sans-serif;
}

#myProjects {
  display: flex;
  justify-content: space-evenly;
}

#myArticles {
  display: flex;
  justify-content: space-evenly;
}

.product {
  text-align: center;
  text-decoration: none;
  color: #FCA311;
  font-size: 20px;
  font-family: sans-serif;
}

.product:hover {
  color: #ffffff;
}

.product img {
  border-radius: 15%;
  margin-top: 20px;
}

.product img:hover {
  box-shadow: 5px 5px 5px #ffffff;
}

.article {
  text-align: center;
  text-decoration: none;
  color: #FCA311;
  font-size: 20px;
  font-family: sans-serif;
  margin: 10px;
}

.article img {
  width: 12em;
  border-radius: 20px;
}

.article:hover {
  color: #ffffff;
  margin: 10px;
}

.article img:hover {
  box-shadow: 5px 5px 5px #ffffff;
}

.box-language img {
  cursor: pointer;
}

#download-cv img {
  width: 30px;
  margin: 5px;
  text-decoration: none;
}

@media (max-width: 940px) {
  .header {
    display: flex;
    flex-wrap: wrap;
  }

  #sectionWelcome {
    flex-wrap: wrap-reverse;
  }

  #mainWelcome {
    margin-top: 50px;
  }

  #welcome {
    font-size: 3.5em;
    color: #E5E5E5;
    margin-top: 100px;
  }
  
  #nameWelcome {
    font-size: 3.5em;
    color: #FCA311;
  }
  
  #profession {
    font-size: 1em;
    color: #14213d;
  }

  #profile {
    border-radius: 50%;
    margin-top: 150px;
    margin-top: 150px;
    margin-bottom: -150px;
    width: 200px;
  }

  footer h5 {
    padding-bottom: 40px;
  }
}

@media (max-width: 660px) {
  .header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .name {
    font-size: 25px;
  }

  .box-menu {
    flex-wrap: wrap;
  }

  .menu {
    font-size: 8px;
    justify-content: center;
    margin: 2px;
  }

  #sectionWelcome {
    flex-wrap: wrap-reverse;
  }

  #mainWelcome {
    margin-top: 10px;
  }

  #welcome {
    font-size: 2.5em;
    margin-bottom: -0.3em;
  }

  #profile {
    width: 12em;
    margin-top: 100px;
    margin-bottom: -70px;
  }

  #whoIamAbout {
    font-size: 1.3em;
  }

  #descriptionAbout {
    font-size: 1.5em;
    line-height: 25px;
  }

  #hard {
    justify-content: center;
  }

  #imgTec {
    width: 90px;
  }

  #nameTec {
    font-size: 12px;
  }

  #myProjects {
    flex-wrap: wrap;
  }
  
  #myArticles {
    flex-wrap: wrap;
  }
  
  .product {
    text-align: center;
    text-decoration: none;
    color: #FCA311;
  }
  
  .article {
    text-align: center;
    flex-wrap: wrap;
    text-decoration: none;
    color: #FCA311;
  }
  
  .article img {
    width: 40vh;
    border-radius: 20px;
    margin-top: 10px;
  }
}

@media (max-width: 432px) {
  body {
    width: 432px;
  }

  .imgTec {
    width: 90px;
    padding: 15px;
  }
  
  .nameTec {
    font-size: 12px;
  }
  
  #myNet {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 30px;
  }
}
