* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000000;
}

/* 
font-family: 'Amatic SC', cursive;
font-family: 'Pacifico', cursive;
font-family: 'Sacramento', cursive;
font-family: 'Silkscreen', cursive;

COLORS PROJECT:
Black: #000000
Dark Blue: #14213D
Orange: #FCA311
Gray: #E5E5E5
White: #FFFFFF
*/

.header {
  background-color: #14213d;
  color: #FCA311;
  display: flex;
  justify-content: space-evenly;
}

.box-language {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.name {
  align-items: center;
  display: flex;
  font-family: 'Amatic SC', cursive;
  font-size: 35px;
  font-weight: 800;
  margin-top: 5px;
}

.box-menu {
  align-items: center;
  display: flex;
  justify-content: space-between;

}

.menu {
  background-color: #E5E5E5;
  border: 2px solid #FCA311;
  border-radius: 20px;
  color: #14213d;
  font-family: 'Silkscreen', cursive;
  font-size: 16px;
  margin: 3px;
  padding: 2px;
  text-decoration: none;
}

.menu:hover {
  background-color: #FCA311;
  color: #ffffff;
}

.flag {
  border-radius: 15px;
  height: 25px;
  padding: 3px;
  width: 40px;
}

#sectionWelcome {
  display: flex;
  justify-content: space-around;
}

#mainWelcome {
  margin-top: 170px;
}

#welcome {
  font-size: 4em;
  color: #E5E5E5;
  font-family: 'Sacramento', cursive;
  margin-bottom: -0.3em;
}

#nameWelcome {
  font-size: 4em;
  color: #FCA311;
}

#profession {
  font-size: 1.27em;
  font-family: 'Silkscreen', cursive;
  color: #14213d;
}

#profile {
  border-radius: 50%;
  margin-top: 100px;
  width: 20em;
}

@media (max-width: 914px) {
  .header {
    display: flex;
    flex-wrap: wrap;
  }

  #sectionWelcome {
    flex-wrap: wrap-reverse;
  }

  #mainWelcome {
    margin-top: 50px;
  }

  #welcome {
    font-size: 3.5em;
    color: #E5E5E5;
    font-family: 'Sacramento', cursive;
    margin-bottom: -0.3em;
  }
  
  #nameWelcome {
    font-size: 3.5em;
    color: #FCA311;
  }
  
  #profession {
    font-size: 1.1em;
    font-family: 'Silkscreen', cursive;
    color: #14213d;
  }

  #profile {
    border-radius: 50%;
    margin-top: 20px;
    width: 15em;
  }
}

@media (max-width: 700px) {
  #profile {
    margin-top: 20px;
    width: 13em;
  }

  #mainWelcome {
    margin-top: 20px;
  }
}

@media (max-width: 526px) {
  .header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .name {
    font-size: 25px;
  }

  .box-menu {
    flex-wrap: wrap;
  }

  .menu {
    font-size: 8px;
    justify-content: center;
    margin: 2px;
  }

  #sectionWelcome {
    flex-wrap: wrap-reverse;
  }

  #mainWelcome {
    margin-top: 10px;
  }

  #welcome {
    font-size: 2.5em;
    color: #E5E5E5;
    font-family: 'Sacramento', cursive;
    margin-bottom: -0.3em;
  }
  
  #nameWelcome {
    font-size: 2.3em;
    color: #FCA311;
  }
  
  #profession {
    font-size: 0.8em;
  }

  #profile {
    width: 12em;
  }
}
